@model List<IAR.Models.ViewModels.NoteAndUser>;

@{
    var icons = @Url.Content("~/bootstrap-icons.svg");
}

<table id="note-table" class="table table-striped table-bordered w-auto" data-url="@Url.Page("Edit")">
    <thead>
        <th> Note </th>
        <th></th>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var item in Model) {
                    <tr>
                        <td class="w-100">
                            <b>@item.DisplayName - </b>
                            <b>@item.Note.UpdatedDate.ToShortDateString(): </b> @item.Note.NoteText </td>
                        <td> 
                            <div class="d-inline-flex">
                                <button type="button" id="edit-note" class="btn btn-secondary mx-1"><svg class="bi"><use href="@icons#pencil-square"></use></svg></button>
                                <button type="button" id="delete-note" class="btn btn-secondary mx-1"><svg class="bi"><use href="@icons#trash"></use></svg></button>
                            </div>
                        </td> 
                    </tr>
                }   
            }
        }
    </tbody>
</table>