@model IEnumerable<IAR.Models.RetentionPeriod>;

<table id="retention-period-table" class="table table-striped table-bordered" data-url="@Url.Page("Edit")">
    <thead>
        <th> @Html.DisplayNameFor(model => model.RetainedData) </th>
        <th> @Html.DisplayNameFor(model => model.RetentionPeriodMonths) </th>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var item in Model) {
                    <tr>
                        <td> @item.RetainedData </td>
                        <td> @item.RetentionPeriodMonths </td>
                    </tr>
                }   
            }
        }
    </tbody>
</table>