@model IEnumerable<IAR.Models.RetentionPeriod>;

@{
    var icons = @Url.Content("~/bootstrap-icons.svg");
}

<table id="retention-period-table" class="table table-striped table-bordered w-auto" data-url="@Url.Page("Edit")">
    <thead>
        <th> @Html.DisplayNameFor(model => model.RetainedData) </th>
        <th> @Html.DisplayNameFor(model => model.RetentionPeriodMonths) </th>
        <th></th>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var item in Model) {
                    <tr>
                        <td class="w-100"> @item.RetainedData </td>
                        <td> @item.RetentionPeriodMonths </td>
                        <td> 
                            <div class="d-inline-flex">
                                <button type="button" id="edit-note" class="btn btn-secondary mx-1"><svg class="bi"><use href="@icons#pencil-square"></use></svg></button>
                                <button type="button" id="delete-note" class="btn btn-secondary mx-1"><svg class="bi"><use href="@icons#trash"></use></svg></button>
                            </div>
                        </td> 
                    </tr>
                }   
            }
        }
    </tbody>
</table>