@model IEnumerable<IAR.Models.ThirdParty>;


<table id="third-party-table" class="table table-striped table-bordered" data-url="@Url.Page("Edit")">
    <thead>
        <th> @Html.DisplayNameFor(model => model.ThirdPartyName) </th>
        <th> @Html.DisplayNameFor(model => model.Use) </th>
        <th> @Html.DisplayNameFor(model => model.Location) </th>
        <th> @Html.DisplayNameFor(model => model.LocationDetail) </th>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var item in Model) {
                    <tr>
                        <td> @item.ThirdPartyName </td>
                        <td> @item.Use </td>
                        <td> @item.Location?.GetDisplayName() </td>
                        <td> @item.LocationDetail </td>
                    </tr>
                }   
            }
        }
    </tbody>
</table>