@page "{id?}"
@using IAR.Models
@model IAR.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
    var icons = @Url.Content("~/bootstrap-icons.svg");
    var tooltipIcon = @icons+"#question-circle";
    var userListApiUrl = Url.Content("~/api/userlist?listLength=10");
    var editHidden = @Model.CanEdit ? "" : "hidden";
    var adminHidden = @Model.IsAdmin ? "" : "hidden";
    var updatedText = "Updated: " + @Model.Asset.UpdatedDate.ToShortDateString() + " by " + @Model.GetDisplayName(@Model.Asset.UpdatedBy ?? "");
    var reviewedText = " Last Reviewed: " + @Model.Asset.LastReviewDate?.ToShortDateString() + " by " + @Model.GetDisplayName(@Model.Asset.ReviewedBy ?? "");;
    if (@Model.Asset.LastReviewDate == null)
    {
        reviewedText = "Never Reviewed";
    }
}

<div id="modal-placeholder"></div>

<body>
    <form id="edit-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Asset.ID" />
        @* Header Section *@
        <section>
            <div class="form-group">
                <h1 class="display-5 text-center edit-hide pt-2">@Model.Asset.Name</h1>
                <label asp-for="Asset.Name" class="control-label edit-show pt-2 d-none"></label>
                <input asp-for="Asset.Name" class="form-control edit-show text-center d-none w-100 fs-3"/>
                <span asp-validation-for="Asset.Name" class="text-danger"></span>
            </div>
            <p class="text-center">@updatedText | @reviewedText</p>
            <div class="row d-flex justify-content-center align-content-center">
                    <button type="button" id="edit-mode-toggle" class="btn btn-success col-1 mx-2 mb-2" data-bs-toggle="button" onclick="toggleEditMode();" @editHidden>
                        <svg class="bi"><use href="@icons#pencil-square"></use></svg>
                        Edit
                    </button>
                    <button type="button" class="btn btn-primary col-1 mx-2 mb-2 edit-hide" data-bs-toggle="modal" data-bs-target="#review-modal" @editHidden>
                        <svg class="bi"><use href="@icons#calendar-check"></use></svg>
                        Review
                    </button>
                    <button type="submit" class="btn btn-warning col-1 mx-2 mb-2 disable" @editHidden disabled>
                        <svg class="bi"><use href="@icons#save"></use></svg>
                        Save
                    </button>
                    <button type="button" class="btn btn-danger col-1 mx-2 mb-2" @adminHidden asp-page="/Delete/@Model.Asset.ID">
                        <svg class="bi"><use href="@icons#trash"></use></svg>
                        Delete
                    </button>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Asset.Description" class="control-label"></label>
                <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("Description")"><use href=@tooltipIcon></use></svg>
                <p class="edit-hide">@Model.Asset.Description</p>
                <textarea asp-for="Asset.Description" class="form-control edit-show d-none w-100" placeholder="Description"></textarea>
                <span asp-validation-for="Asset.Description" class="text-danger"></span>
            </div>
            @* Responsibilities Row *@
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Asset.ExecutiveSponsor" class="control-label"></label>
                        <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("ExecutiveSponsor")"><use href=@tooltipIcon></use></svg>
                        <select asp-for="Asset.ExecutiveSponsorAccountName" class="form-control disable executive-sponsor-select2" data-placeholder="Select Executive Sponsor" disabled></select>
                        <span asp-validation-for="Asset.ExecutiveSponsorAccountName" class="text-danger"></span>
                    </div>                    
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Asset.DataOwner" class="control-label"></label>
                        <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("DataOwner")"><use href=@tooltipIcon></use></svg>
                        <select asp-for="Asset.DataOwnerAccountName" class="form-control disable data-owner-select2" data-placeholder="Select Data Owner" disabled></select>
                        <span asp-validation-for="Asset.DataOwnerAccountName" class="text-danger"></span>
                    </div>                    
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Asset.DataSteward" class="control-label"></label>
                        <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("DataSteward")"><use href=@tooltipIcon></use></svg>
                        <select asp-for="Asset.DataStewardAccountName" class="form-control disable data-steward-select2" data-placeholder="Select Data Steward" disabled></select>
                        <span asp-validation-for="Asset.DataStewardAccountName" class="text-danger"></span>
                    </div>                    
                </div>
            </div>
            @* <hr /> *@
        </section>
        @* Edit Section *@
        <section>
            @* <h4>Heading</h4>
            <p>Description placeholder</p> *@
            <div class="row">
                <div class="col">
                    @* Physical Location *@
                    <div class="form-group">
                        <label asp-for="Asset.PhysicalLocation" class="control-label"></label>
                        <div class="input-group">
                            <select asp-for="Asset.PhysicalLocation" class="form-select disable" asp-items="Html.GetEnumSelectList<PhysicalLocationEnum>()" disabled>
                                    <option value=""></option>
                            </select>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="@Model.GetTooltipText("PhysicalLocation")">
                                <svg class="bi"><use href=@tooltipIcon></use></svg>
                            </button>
                        </div>
                        <span asp-validation-for="Asset.PhysicalLocation" class="text-danger"></span>
                    </div>
                    @* Volume *@
                    <div class="form-group">
                        <label asp-for="Asset.Volume" class="control-label"></label>
                        <div class="input-group">
                            <select asp-for="Asset.Volume" class="form-select disable" asp-items="Html.GetEnumSelectList<VolumeEnum>()" disabled>
                                    <option value=""></option>
                            </select>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="@Model.GetTooltipText("Volume")">
                                <svg class="bi"><use href=@tooltipIcon></use></svg>
                            </button>
                        </div>
                        <span asp-validation-for="Asset.Volume" class="text-danger"></span>
                    </div>
                    @* Back-End Platform *@
                    <div class="form-group">
                        <label asp-for="Asset.BackEndPlatform" class="control-label"></label>
                        <div class="input-group">
                            <select asp-for="Asset.BackEndPlatformID" class="form-select disable" asp-items="@Model.BackEndPlatformNameSL" disabled>
                                    <option value=""></option>
                            </select>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="@Model.GetTooltipText("BackEndPlatform")">
                                <svg class="bi"><use href=@tooltipIcon></use></svg>
                            </button>
                        </div>
                        <span asp-validation-for="Asset.BackEndPlatformID" class="text-danger"></span>
                    </div>
                    @* Front-End Platform *@
                    <div class="form-group">
                        <label asp-for="Asset.FrontEndPlatform" class="control-label"></label>
                        <div class="input-group">
                            <select asp-for="Asset.FrontEndPlatformID" class="form-select disable" asp-items="@Model.FrontEndPlatformNameSL" disabled>
                                    <option value=""></option>
                            </select>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="@Model.GetTooltipText("FrontEndPlatform")">
                                <svg class="bi"><use href=@tooltipIcon></use></svg>
                            </button>
                        </div>
                        <span asp-validation-for="Asset.FrontEndPlatformID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    @* Accessed By *@
                    <div class="form-group">
                        <label asp-for="Asset.AccessedBy" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="Asset.AccessedBy" class="form-control disable" disabled/>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="@Model.GetTooltipText("AccessedBy")">
                                <svg class="bi"><use href=@tooltipIcon></use></svg>
                            </button>
                        </div>
                        <span asp-validation-for="Asset.AccessedBy" class="text-danger"></span>
                    </div>
                    @* Restricted *@
                    <div class="form-group">
                        <label asp-for="Asset.Restricted" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="Asset.Restricted" class="form-control disable" disabled/>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="@Model.GetTooltipText("Restricted")">
                                <svg class="bi"><use href=@tooltipIcon></use></svg>
                            </button>
                        </div>
                        <span asp-validation-for="Asset.Restricted" class="text-danger"></span>
                    </div>
                    @* Provider *@
                    <div class="form-group">
                        <label asp-for="Asset.Provider" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="Asset.Provider" class="form-control disable" disabled/>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="@Model.GetTooltipText("Provider")">
                                <svg class="bi"><use href=@tooltipIcon></use></svg>
                            </button>
                        </div>
                        <span asp-validation-for="Asset.Provider" class="text-danger"></span>
                    </div>
                    @* Maintained By *@
                    <div class="form-group">
                        <label asp-for="Asset.MaintainedBy" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="Asset.MaintainedBy" class="form-control disable" disabled/>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="@Model.GetTooltipText("MaintainedBy")">
                                <svg class="bi"><use href=@tooltipIcon></use></svg>
                            </button>
                        </div>
                        <span asp-validation-for="Asset.MaintainedBy" class="text-danger"></span>
                    </div>
                </div>
                @* Secondary Purpose *@
                <div class="form-group">
                    <hr />
                    <div class="form-check">
                        <input class="form-check-input checkbox-xl disable" type="checkbox" asp-for="Asset.SecondaryPurpose" id="secondary-purpose-checkbox"
                            onclick="if (this.checked) { $('#secondary-purpose-details').removeClass('d-none'); } else { $('#secondary-purpose-details').addClass('d-none'); }" disabled/>
                        <label class="form-check-label checkbox-xl" for="secondary-purpose-checkbox"> 
                            @* @Html.DisplayNameFor(model => model.Asset.SecondaryPurpose) *@
                            Is the information used for any secondary purposes? If so, please provide details.
                        </label>
                        <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("SecondaryPurpose")"><use href=@tooltipIcon></use></svg>
                    </div>               
                </div>
                @* Secondary Purpose Details *@
                <div class="form-group d-none pt-3" id="secondary-purpose-details">
                    @* <label asp-for="Asset.SecondaryPurposeDetails" class="control-label"></label>
                    <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("SecondaryPurposeDetails")"><use href=@tooltipIcon></use></svg> *@
                    <textarea asp-for="Asset.SecondaryPurposeDetails" class="form-control disable" disabled></textarea>
                    <span asp-validation-for="Asset.SecondaryPurposeDetails" class="text-danger"></span>
                </div>
            </div>
            <hr />
        </section>
        @* Subject to DPA *@
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input disable checkbox-xl" type="checkbox" asp-for="Asset.SubjectToDPA" id="subject-to-dpa-checkbox"
                    onclick="if (this.checked) { $('#dpa-section').removeClass('d-none'); } else { $('#dpa-section').addClass('d-none'); }" disabled>
                <label class="form-check-label checkbox-xl" for="subject-to-dpa-checkbox">
                    @* @Html.DisplayNameFor(model => model.Asset.SubjectToDPA) *@
                    Does the asset contain information that is subject to the Data Protection Act?
                </label>
                <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("SubjectToDPA")"><use href=@tooltipIcon></use></svg>
            </div>
            @* <hr /> *@
        </div>
        <section class="d-none" id="dpa-section">
            <div class="row pt-3">
                @* DPA *@
                <div class="col">
                    <h4>DPA</h2>
                    @* <p>Description placeholder</p> *@
                    <ul class="list-group">
                        @* Personal Details *@
                        <li class="list-group-item flex-fill">
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.PersonalDetails" disabled>
                                @Html.DisplayNameFor(model => model.Asset.PersonalDetails)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("PersonalDetails")"><use href=@tooltipIcon></use></svg>
                        </li>
                        @* Goods and Services *@
                        <li class="list-group-item flex-fill">
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.GoodsServices" disabled>
                                @Html.DisplayNameFor(model => model.Asset.GoodsServices)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("GoodsServices")"><use href=@tooltipIcon></use></svg>
                        </li>
                        @* Supplier Details *@
                        <li class="list-group-item flex-fill">
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.SupplierDetails" disabled>
                                @Html.DisplayNameFor(model => model.Asset.SupplierDetails)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("SupplierDetails")"><use href=@tooltipIcon></use></svg>
                        </li>
                        @* Financial Details *@
                        <li class="list-group-item flex-fill">
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.FinancialDetails" disabled>
                                @Html.DisplayNameFor(model => model.Asset.FinancialDetails)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("FinancialDetails")"><use href=@tooltipIcon></use></svg>
                        </li>
                        @* Lifestyle and Social *@
                        <li class="list-group-item flex-fill">
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.LifestyleSocial" disabled>
                                @Html.DisplayNameFor(model => model.Asset.LifestyleSocial)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("LifestyleSocial")"><use href=@tooltipIcon></use></svg>
                        </li>
                        @* Complaints *@
                        <li class="list-group-item flex-fill">
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.Complaints" disabled>
                                @Html.DisplayNameFor(model => model.Asset.Complaints)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("Complaints")"><use href=@tooltipIcon></use></svg>
                        </li>
                        @* Education and Employement *@
                        <li class="list-group-item flex-fill">
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.EducationEmployment" disabled>
                                @Html.DisplayNameFor(model => model.Asset.EducationEmployment)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("EducationEmployment")"><use href=@tooltipIcon></use></svg>
                        </li>
                        @* Health, Safety and Security *@
                        <li class="list-group-item flex-fill">
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.HealthSafetySecurity" disabled>
                                @Html.DisplayNameFor(model => model.Asset.HealthSafetySecurity)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("HealthSafetySecurity")"><use href=@tooltipIcon></use></svg>
                        </li>
                        @* Visual Images, Personal Appearance and Behaviour *@
                        <li class="list-group-item flex-fill">
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.VisualImages" disabled>
                                @Html.DisplayNameFor(model => model.Asset.VisualImages)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("VisualImages")"><use href=@tooltipIcon></use></svg>
                        </li>
                    </ul>
                </div> 
                @* Lawful Basis *@
                <div class="col">
                    <h4>Lawful Basis</h2>
                    @* <p>Description placeholder</p> *@
                    <ul class="list-group">
                        @* Lawful Basis Consent *@
                        <li class="list-group-item flex-fill">
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.LawfulBasisConsent" id="lawful-basis-consent"
                                onclick="if (this.checked) { $('#lawful-basis-consent-detail').removeClass('d-none'); } else { $('#lawful-basis-consent-detail').addClass('d-none'); }" disabled>
                                @Html.DisplayNameFor(model => model.Asset.LawfulBasisConsent)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("LawfulBasisConsent")"><use href=@tooltipIcon></use></svg>
                        </li>
                            @* Lawful Basis Consent Detail *@
                        <li class="list-group-item flex-fill d-none" id="lawful-basis-consent-detail">
                            <div class="form-group">
                                @* <label asp-for="Asset.LawfulBasisConsentDetail" class="control-label"></label>
                                <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("LawfulBasisConsentDetail")"><use href=@tooltipIcon></use></svg> *@                                
                                <textarea asp-for="Asset.LawfulBasisConsentDetail" class="form-control disable" placeholder="Lawful Basis Consent Detail" disabled></textarea>
                                <span asp-validation-for="Asset.LawfulBasisConsentDetail" class="text-danger"></span>
                            </div>
                        </li>
                            @* Lawful Basis Contract *@
                        <li class="list-group-item flex-fill">
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.LawfulBasisContract" id="lawful-basis-contract"
                                    onclick="if (this.checked) { $('#lawful-basis-contract-detail').removeClass('d-none'); } else { $('#lawful-basis-contract-detail').addClass('d-none'); }" disabled>
                                @Html.DisplayNameFor(model => model.Asset.LawfulBasisContract)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("LawfulBasisContract")"><use href=@tooltipIcon></use></svg>
                        </li>
                            @* Lawful Basis Contract Detail *@
                        <li class="list-group-item flex-fill d-none" id="lawful-basis-contract-detail">
                            <div class="form-group">
                                @* <label asp-for="Asset.LawfulBasisContractDetail" class="control-label"></label>
                                <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("LawfulBasisContractDetail")"><use href=@tooltipIcon></use></svg> *@
                                <textarea asp-for="Asset.LawfulBasisContractDetail" class="form-control disable" placeholder="Lawful Basis Contract Detail" disabled></textarea>
                                <span asp-validation-for="Asset.LawfulBasisContractDetail" class="text-danger"></span>
                            </div>
                        </li>
                            @* Lawful Basis Legal Obligation *@
                        <li class="list-group-item flex-fill">
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.LawfulBasisLegalObligation" id="lawful-basis-legal"
                                    onclick="if (this.checked) { $('#lawful-basis-legal-detail').removeClass('d-none'); } else { $('#lawful-basis-legal-detail').addClass('d-none'); }" disabled>
                                @Html.DisplayNameFor(model => model.Asset.LawfulBasisLegalObligation)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("LawfulBasisLegalObligation")"><use href=@tooltipIcon></use></svg>
                        </li>
                            @* Lawful Basis Legal Obligation Detail *@
                        <li class="list-group-item flex-fill d-none" id="lawful-basis-legal-detail">
                            <div class="form-group">
                                @* <label asp-for="Asset.LawfulBasisLegalObligationDetail" class="control-label"></label>
                                <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("LawfulBasisLegalObligationDetail")"><use href=@tooltipIcon></use></svg> *@
                                <textarea asp-for="Asset.LawfulBasisLegalObligationDetail" class="form-control disable" placeholder="Lawful Basis Legal Obligation Detail" disabled></textarea>
                                <span asp-validation-for="Asset.LawfulBasisLegalObligationDetail" class="text-danger"></span>
                            </div>
                        </li>
                            @* Lawful Basis Vital Interest *@
                        <li class="list-group-item flex-fill">
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.LawfulBasisVitalInterest" id="lawful-basis-vital"
                                    onclick="if (this.checked) { $('#lawful-basis-vital-detail').removeClass('d-none'); } else { $('#lawful-basis-vital-detail').addClass('d-none'); }" disabled>
                                @Html.DisplayNameFor(model => model.Asset.LawfulBasisVitalInterest)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("LawfulBasisVitalInterest")"><use href=@tooltipIcon></use></svg>
                        </li>
                            @* Lawful Basis Vital Interest Detail *@
                        <li class="list-group-item flex-fill d-none" id="lawful-basis-vital-detail">
                            <div class="form-group">
                                @* <label asp-for="Asset.LawfulBasisVitalInterestDetail" class="control-label"></label>
                                <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("LawfulBasisVitalInterestDetail")"><use href=@tooltipIcon></use></svg> *@
                                <textarea asp-for="Asset.LawfulBasisVitalInterestDetail" class="form-control disable" placeholder="Lawful Basis Vital Interest Detail" disabled></textarea>
                                <span asp-validation-for="Asset.LawfulBasisVitalInterestDetail" class="text-danger"></span>
                            </div>
                        </li>
                    </ul>
                </div>
                @* Special Categories *@
                <div class="col">
                    <h4>Special Categories</h2>
                    @* <p>Description placeholder</p> *@
                    <ul class="list-group">
                        <li class="list-group-item flex-fill">
                            @* Special Racial/Ethnic *@
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.SpecialRacialEthnic" disabled>
                                @Html.DisplayNameFor(model => model.Asset.SpecialRacialEthnic)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("SpecialRacialEthnic")"><use href=@tooltipIcon></use></svg>
                        </li>
                        <li class="list-group-item flex-fill">
                            @* Special Politcal Opinion *@
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.SpecialPoliticalOpinion" disabled>
                                @Html.DisplayNameFor(model => model.Asset.SpecialPoliticalOpinion)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("SpecialPoliticalOpinion")"><use href=@tooltipIcon></use></svg>
                        </li>
                        <li class="list-group-item flex-fill">
                            @* Speical Religious Philosophical *@
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.SpecialReligiousPhilosophical" disabled>
                                @Html.DisplayNameFor(model => model.Asset.SpecialReligiousPhilosophical)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("SpecialReligiousPhilosophical")"><use href=@tooltipIcon></use></svg>
                        </li>
                        <li class="list-group-item flex-fill">
                            @* Special Trade Union *@
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.SpecialTradeUnion" disabled>
                                @Html.DisplayNameFor(model => model.Asset.SpecialTradeUnion)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("SpecialTradeUnion")"><use href=@tooltipIcon></use></svg>
                        </li>
                        <li class="list-group-item flex-fill">
                            @* Special Genetic *@
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.SpecialGenetic" disabled>
                                @Html.DisplayNameFor(model => model.Asset.SpecialGenetic)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("SpecialGenetic")"><use href=@tooltipIcon></use></svg>
                        </li>
                        <li class="list-group-item flex-fill">
                            @* Special Biometric *@
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.SpecialBiometric" disabled>
                                @Html.DisplayNameFor(model => model.Asset.SpecialBiometric)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("SpecialBiometric")"><use href=@tooltipIcon></use></svg>
                        </li>
                        <li class="list-group-item flex-fill">
                            @* Special Health *@
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.SpecialHealth" disabled>
                                @Html.DisplayNameFor(model => model.Asset.SpecialHealth)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("SpecialHealth")"><use href=@tooltipIcon></use></svg>
                        </li>
                        <li class="list-group-item flex-fill">
                            @* Special Sexual *@
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.SpecialSexual" disabled>
                                @Html.DisplayNameFor(model => model.Asset.SpecialSexual)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("SpecialSexual")"><use href=@tooltipIcon></use></svg>
                        </li>
                        <li class="list-group-item flex-fill"></li>
                        <li class="list-group-item flex-fill">
                            @* Criminal Conviction Data *@
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.CriminalConviction" disabled>
                                @Html.DisplayNameFor(model => model.Asset.CriminalConviction)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("CriminalConviction")"><use href=@tooltipIcon></use></svg>
                        </li>
                        <li class="list-group-item flex-fill">
                            @* Children Data *@
                            <label class="form-check-label">
                                <input class="form-check-input disable" type="checkbox" asp-for="Asset.Children" disabled>
                                @Html.DisplayNameFor(model => model.Asset.Children)
                            </label>
                            <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("Children")"><use href=@tooltipIcon></use></svg>
                        </li>
                    </ul>
                </div> 
                <hr />
            </div>  
            @* Data Subjects *@
            <div class="form-group">
                <label asp-for="Asset.DataSubjects" class="control-label"></label>
                <svg class="bi help-icon" data-bs-toggle="tooltip" title="@Model.GetTooltipText("DataSubjects")"><use href=@tooltipIcon></use></svg>
                <textarea asp-for="Asset.DataSubjects" class="form-control disable" disabled></textarea>
                <span asp-validation-for="Asset.DataSubjects" class="text-danger"></span>
            </div>
            <hr />
        </section>
        @* Third Parties *@
        <section>
            <hr />
            <h4>Third Parties</h4>
            <p>Please list all known third parties that have access to this asset</p>
            <partial name="_ThirdPartyTable", model="Model.Asset.ThirdParties"/>
            <button type="button" class="btn btn-success" data-toggle="ajax-modal"
                data-url="@Url.Page("Edit","ThirdPartyModal")" @editHidden>
                <svg class="bi"><use href="@icons#plus-square"></use></svg>
                Add Third Party
            </button>
            <hr />
        </section>
        @* Rentention Periods *@
        <section>
            <h4>Retention Periods</h4>
            <p>Please list all known retention periods for this asset</p>
            <partial name="_RetentionPeriodTable", model="Model.Asset.RetentionPeriods"/>
            <button type="button" class="btn btn-success" data-toggle="ajax-modal"
                data-url="@Url.Page("Edit","RetentionPeriodModal")" @editHidden>
                <svg class="bi"><use href="@icons#plus-square"></use></svg>
                Add Retention Period
            </button>
            <hr />
        </section>
        @* Notes *@
        <section>
            <h4>Notes</h4>
            @* <p>Description placeholder</p> *@
            <partial name="_NoteTable", model="Model.NoteList"/>
            <button type="button" class="btn btn-success" data-toggle="ajax-modal"
                data-url="@Url.Page("Edit","NoteModal")" @editHidden>
                <svg class="bi"><use href="@icons#plus-square"></use></svg>
                Add Note
            </button>
            <hr />
        </section>
        @* <div>
            <a asp-page="View">Retun to View Assets</a>
        </div> *@
    </form>
    @* Review Modal *@
    <div class="modal fade" id="review-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p>Are you sure you want to set the review date to today's date and time?</p>
                </div>
                <div class="modal-footer">
                    <form method="post" asp-page-handler="review">
                        <button type="submit" class="btn btn-primary" id="review-button">Ok</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    <script>
        $(document).ready(function() {
            $('[class$="-select2"]').select2({
                theme: "bootstrap-5",
                width: '100%',
                minimumInputLength: 2,
                allowClear: true,
                ajax: {
                    url: "@userListApiUrl",
                    dataType: 'json',
                    delay: 250,
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    id: item.accountName,
                                    text: item.displayName
                                }
                            })
                        };
                    },
                    data: function (params) {
                        var query = {
                        name: params.term,
                        }
                        // Query parameters will be ?name=[term]
                        return query;
                    }

                } 
            });
        });

        // Set default value for select2 lists
        var executiveSponsorOption = new Option("@Model.Asset.ExecutiveSponsor?.DisplayName", "@Model.Asset.ExecutiveSponsorAccountName", true, true);
        var dateOwnerOption = new Option("@Model.Asset.DataOwner?.DisplayName", "@Model.Asset.DataOwnerAccountName", true, true);
        var dateStewardOption = new Option("@Model.Asset.DataSteward?.DisplayName", "@Model.Asset.DataStewardAccountName", true, true);
        
        $(".executive-sponsor-select2").append(executiveSponsorOption).trigger('change');
        $(".data-owner-select2").append(dateOwnerOption).trigger('change');
        $(".data-steward-select2").append(dateStewardOption).trigger('change');
        
        // Reset select2 lists when cleared
        $('.executive-sponsor-select2').on('select2:clear', function () {
            @* console.log("clear"); *@
            $(".executive-sponsor-select2").empty();
            var option = new Option("", "", true, true);
            $(".executive-sponsor-select2").append(option).trigger('change');
        });

        // Reset select2 lists when cleared
        $('.data-owner-select2').on('select2:clear', function () {
            @* console.log("clear"); *@
            $(".data-owner-select2").empty();
            var option = new Option("", "", true, true);
            $(".data-owner-select2").append(option).trigger('change');
        });

        // Reset select2 lists when cleared
        $('.data-steward-select2').on('select2:clear', function () {
            @* console.log("clear"); *@
            $(".data-steward-select2").empty();
            var option = new Option("", "", true, true);
            $(".data-steward-select2").append(option).trigger('change');

        });
        
        // Expand textarea to fit content
        $(document).ready(function () {
            $('textarea').on('input', function () { 
                this.style.height = 'auto'; 
                this.style.height = (this.scrollHeight) + 'px'; 
            });
        });

        // If subject-to-dpa-checkbox is checked, show dpa-section
        if ($("#subject-to-dpa-checkbox").is(":checked")) {
            $('#dpa-section').removeClass('d-none');
        }

        // If secondary-purpose is checked, show secondary-purpose-details
        if ($("#secondary-purpose-checkbox").is(":checked")) {
            $('#secondary-purpose-details').removeClass('d-none');
        }

        // If lawful-basis-consent is checked, show lawful-basis-consent-detail
        if ($("#lawful-basis-consent").is(":checked")) {
            $('#lawful-basis-consent-detail').removeClass('d-none');
        }

        // If lawful-basis-contract is checked, show lawful-basis-contract-detail
        if ($("#lawful-basis-contract").is(":checked")) {
            $('#lawful-basis-contract-detail').removeClass('d-none');
        }

        // If lawful-basis-legal is checked, show lawful-basis-legal-detail
        if ($("#lawful-basis-legal").is(":checked")) {
            $('#lawful-basis-legal-detail').removeClass('d-none');
        }

        // If lawful-basis-vital is checked, show lawful-basis-vital-detail
        if ($("#lawful-basis-vital").is(":checked")) {
            $('#lawful-basis-vital-detail').removeClass('d-none');
        }

        // If edit-mode-toggle is checked, enable edit mode
        function toggleEditMode() {
            if ($("#edit-mode-toggle").hasClass("active")) {
                //console.log("editMode");
                $('.edit-show').removeClass('d-none');
                $('.edit-hide').addClass('d-none');
                $('.disable').prop('disabled', false);
                $('.readonly').prop('readonly', false);
            } else {
                // Prompt that any unsaved changes will be lost
                var r = confirm("Any unsaved changes will be lost. Are you sure you want to exit edit mode?");
                if (r == false) {
                    return;
                }
                // Clear validation errors
                $('.field-validation-error').empty();
                //console.log("viewMode");
                $('.edit-show').addClass('d-none');
                $('.edit-hide').removeClass('d-none');
                $('.disable').prop('disabled', true);
                $('.readonly').prop('readonly', true);
            }
        }

        // Initialize tooltips with default options
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip({ 
                trigger: 'focus',
                placement: 'right'
            });
        });
    </script>
    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}