@page "{id?}"
@model IAR.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
    var userListApiUrl = Url.Content("~/api/userlist?listLength=10");
}

<div id="modal-placeholder"></div>

<body>
    <h1 style="text-align: center; margin-top: 10px;">@Model.Asset.Name</h1>
    <label for="editToggle">Lock Fields</label>
    <input id="editToggle" type="checkbox" onchange="toggleDisable(this);"/>
    </br>
    <div class="row">
        <div>
            <form method="post">
                <fieldset id="editFields">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Asset.ID" />
                <div class="form-group">
                    <label asp-for="Asset.Name" class="control-label"></label>
                    <input asp-for="Asset.Name" class="form-control" />
                    <span asp-validation-for="Asset.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Asset.DataOwner" class="control-label"></label>
                    <select asp-for="Asset.DataOwner" class="form-control data-owner-select" data-ajax--url=@userListApiUrl></select>
                    <span asp-validation-for="Asset.DataOwner" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Asset.BackEndPlatform" class="control-label"></label>
                    <select asp-for="Asset.BackEndPlatformID" class="form-control" 
                            asp-items="@Model.BackEndPlatformNameSL">
                            <option value="">-- Select Platform --</option>
                    </select>
                    <span asp-validation-for="Asset.BackEndPlatformID" class="text-danger"></span>
                    <span data-bs-toggle="tooltip" data-bs-placement="right" title="This is where the data is stored.">
                    <i class="bi bi-question-circle" style="font-size: 1.5rem;"></i>
                    </span>
                </div>
                <div class="form-group">
                    <label asp-for="Asset.FrontEndPlatform" class="control-label"></label>
                    <select asp-for="Asset.FrontEndPlatformID" class="form-control" 
                            asp-items="@Model.FrontEndPlatformNameSL">
                        <option value="">-- Select Platform --</option>
                    </select>
                    <span asp-validation-for="Asset.FrontEndPlatformID" class="text-danger"></span>
                </div>
                <partial name="_ThirdPartyTable", model="Model.Asset.ThirdParties"/>
                <button type="button" class="btn btn-secondary" data-toggle="ajax-modal"
                    data-url="@Url.Page("Edit","ThirdPartyModal")">
                    Add Third Party
                </button>
                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-secondary" style="margin-top: 10px" />
                </div>
                <div>
                    <a asp-page="View">Retun to View Assets</a>
                </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>

@section Scripts {
    <script type="module">
        import Autocomplete from "@Url.Content("~/lib/bootstrap5-autocomplete/autocomplete.js")";
        Autocomplete.init("input.autocomplete", {
            highlightTyped: true,
            server: "@Url.Content("~/UserList")",
            valueField: "accountName",
            labelField: "displayName",
            fullWidth: true,
            fixed: true,
            maximumItems: 10,
        });
    </script>

    <script>
        $(document).ready(function() {
            $('.data-owner-select').select2({
                theme: "bootstrap-5",
                minimumInputLength: 2,
                allowClear: true,
                placeholder: "Select Data Owner",
                ajax: {
                    url: "~/api/userlist?listLength=10",
                    dataType: 'json',
                    delay: 250,
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    id: item.accountName,
                                    text: item.displayName
                                }
                            })
                        };
                    },
                    data: function (params) {
                        var query = {
                        search: params.term,
                        }
                        // Query parameters will be ?search=[term]
                        return query;
                    }

                } 
            });
        });

        var option = new Option("@Model.Asset.DataOwner", "@Model.Asset.DataOwner", true, true);
        $(".data-owner-select").append(option).trigger('change');
        
        $('.data-owner-select').on('select2:clear', function (e) {
            console.log("clear");
            $(".data-owner-select").empty();
            var option = new Option("", "", true, true);
            $(".data-owner-select").append(option).trigger('change');

        });
    </script>
    

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}