@page "{id?}"
@model IAR.Pages.EditTestModel

@{
    ViewData["Title"] = "EditTest";
}

<h1>EditTest</h1>

<h4>Asset</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Asset.ID" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.Active" /> @Html.DisplayNameFor(model => model.Asset.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Asset.Name" class="control-label"></label>
                <input asp-for="Asset.Name" class="form-control" />
                <span asp-validation-for="Asset.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.Description" class="control-label"></label>
                <input asp-for="Asset.Description" class="form-control" />
                <span asp-validation-for="Asset.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.ExecutiveSponsorAccountName" class="control-label"></label>
                <select asp-for="Asset.ExecutiveSponsorAccountName" class="form-control" asp-items="ViewBag.ExecutiveSponsorAccountName"></select>
                <span asp-validation-for="Asset.ExecutiveSponsorAccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.DataOwnerAccountName" class="control-label"></label>
                <select asp-for="Asset.DataOwnerAccountName" class="form-control" asp-items="ViewBag.DataOwnerAccountName"></select>
                <span asp-validation-for="Asset.DataOwnerAccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.DataStewardAccountName" class="control-label"></label>
                <select asp-for="Asset.DataStewardAccountName" class="form-control" asp-items="ViewBag.DataStewardAccountName"></select>
                <span asp-validation-for="Asset.DataStewardAccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.LastReviewDate" class="control-label"></label>
                <input asp-for="Asset.LastReviewDate" class="form-control" />
                <span asp-validation-for="Asset.LastReviewDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.ReviewedBy" class="control-label"></label>
                <input asp-for="Asset.ReviewedBy" class="form-control" />
                <span asp-validation-for="Asset.ReviewedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.ReviewCycleMonths" class="control-label"></label>
                <input asp-for="Asset.ReviewCycleMonths" class="form-control" />
                <span asp-validation-for="Asset.ReviewCycleMonths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.NextReviewDate" class="control-label"></label>
                <input asp-for="Asset.NextReviewDate" class="form-control" />
                <span asp-validation-for="Asset.NextReviewDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.BackEndPlatformID" class="control-label"></label>
                <select asp-for="Asset.BackEndPlatformID" class="form-control" asp-items="ViewBag.BackEndPlatformID"></select>
                <span asp-validation-for="Asset.BackEndPlatformID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.FrontEndPlatformID" class="control-label"></label>
                <select asp-for="Asset.FrontEndPlatformID" class="form-control" asp-items="ViewBag.FrontEndPlatformID"></select>
                <span asp-validation-for="Asset.FrontEndPlatformID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.PhysicalLocation" class="control-label"></label>
                <input asp-for="Asset.PhysicalLocation" class="form-control" />
                <span asp-validation-for="Asset.PhysicalLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.Volume" class="control-label"></label>
                <input asp-for="Asset.Volume" class="form-control" />
                <span asp-validation-for="Asset.Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.PersonalData" class="control-label"></label>
                <input asp-for="Asset.PersonalData" class="form-control" />
                <span asp-validation-for="Asset.PersonalData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.AccessedBy" class="control-label"></label>
                <input asp-for="Asset.AccessedBy" class="form-control" />
                <span asp-validation-for="Asset.AccessedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.Restricted" class="control-label"></label>
                <input asp-for="Asset.Restricted" class="form-control" />
                <span asp-validation-for="Asset.Restricted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.MaintainedBy" class="control-label"></label>
                <input asp-for="Asset.MaintainedBy" class="form-control" />
                <span asp-validation-for="Asset.MaintainedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.Provider" class="control-label"></label>
                <input asp-for="Asset.Provider" class="form-control" />
                <span asp-validation-for="Asset.Provider" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.UpdatedDate" class="control-label"></label>
                <input asp-for="Asset.UpdatedDate" class="form-control" />
                <span asp-validation-for="Asset.UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.UpdatedBy" class="control-label"></label>
                <input asp-for="Asset.UpdatedBy" class="form-control" />
                <span asp-validation-for="Asset.UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.CreatedDate" class="control-label"></label>
                <input asp-for="Asset.CreatedDate" class="form-control" />
                <span asp-validation-for="Asset.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.CreatedBy" class="control-label"></label>
                <input asp-for="Asset.CreatedBy" class="form-control" />
                <span asp-validation-for="Asset.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.LawfulBasisConsent" /> @Html.DisplayNameFor(model => model.Asset.LawfulBasisConsent)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Asset.LawfulBasisConsentDetail" class="control-label"></label>
                <input asp-for="Asset.LawfulBasisConsentDetail" class="form-control" />
                <span asp-validation-for="Asset.LawfulBasisConsentDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.LawfulBasisContract" class="control-label"></label>
                <input asp-for="Asset.LawfulBasisContract" class="form-control" />
                <span asp-validation-for="Asset.LawfulBasisContract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.LawfulBasisContractDetail" class="control-label"></label>
                <input asp-for="Asset.LawfulBasisContractDetail" class="form-control" />
                <span asp-validation-for="Asset.LawfulBasisContractDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.LawfulBasisLegalObligation" class="control-label"></label>
                <input asp-for="Asset.LawfulBasisLegalObligation" class="form-control" />
                <span asp-validation-for="Asset.LawfulBasisLegalObligation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.LawfulBasisLegalObligationDetail" class="control-label"></label>
                <input asp-for="Asset.LawfulBasisLegalObligationDetail" class="form-control" />
                <span asp-validation-for="Asset.LawfulBasisLegalObligationDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.LawfulBasisVitalInterest" class="control-label"></label>
                <input asp-for="Asset.LawfulBasisVitalInterest" class="form-control" />
                <span asp-validation-for="Asset.LawfulBasisVitalInterest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.LawfulBasisVitalInterestDetail" class="control-label"></label>
                <input asp-for="Asset.LawfulBasisVitalInterestDetail" class="form-control" />
                <span asp-validation-for="Asset.LawfulBasisVitalInterestDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.LawfulBasisLegitimateInterest" class="control-label"></label>
                <input asp-for="Asset.LawfulBasisLegitimateInterest" class="form-control" />
                <span asp-validation-for="Asset.LawfulBasisLegitimateInterest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.LawfulBasisLegitimateInterestDetail" class="control-label"></label>
                <input asp-for="Asset.LawfulBasisLegitimateInterestDetail" class="form-control" />
                <span asp-validation-for="Asset.LawfulBasisLegitimateInterestDetail" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.SpecialRacialEthnic" /> @Html.DisplayNameFor(model => model.Asset.SpecialRacialEthnic)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.SpecialPoliticalOpinion" /> @Html.DisplayNameFor(model => model.Asset.SpecialPoliticalOpinion)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.SpecialReligousPhilosphical" /> @Html.DisplayNameFor(model => model.Asset.SpecialReligousPhilosphical)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.SpecialTradeUnion" /> @Html.DisplayNameFor(model => model.Asset.SpecialTradeUnion)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.SpecialGenetic" /> @Html.DisplayNameFor(model => model.Asset.SpecialGenetic)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.SpecialBiometric" /> @Html.DisplayNameFor(model => model.Asset.SpecialBiometric)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.SpecialHealth" /> @Html.DisplayNameFor(model => model.Asset.SpecialHealth)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.SpecialSexual" /> @Html.DisplayNameFor(model => model.Asset.SpecialSexual)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.CriminalConviction" /> @Html.DisplayNameFor(model => model.Asset.CriminalConviction)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.Children" /> @Html.DisplayNameFor(model => model.Asset.Children)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.SubjectToDPA" /> @Html.DisplayNameFor(model => model.Asset.SubjectToDPA)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Asset.DataSubjects" class="control-label"></label>
                <input asp-for="Asset.DataSubjects" class="form-control" />
                <span asp-validation-for="Asset.DataSubjects" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.SecondaryPurpose" /> @Html.DisplayNameFor(model => model.Asset.SecondaryPurpose)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Asset.SecondaryPurposeDetails" class="control-label"></label>
                <input asp-for="Asset.SecondaryPurposeDetails" class="form-control" />
                <span asp-validation-for="Asset.SecondaryPurposeDetails" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.PersonalDetails" /> @Html.DisplayNameFor(model => model.Asset.PersonalDetails)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.goodsServices" /> @Html.DisplayNameFor(model => model.Asset.goodsServices)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.supplierDetails" /> @Html.DisplayNameFor(model => model.Asset.supplierDetails)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.financialDetails" /> @Html.DisplayNameFor(model => model.Asset.financialDetails)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.lifestyleSocial" /> @Html.DisplayNameFor(model => model.Asset.lifestyleSocial)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.complaints" /> @Html.DisplayNameFor(model => model.Asset.complaints)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.educationEmployment" /> @Html.DisplayNameFor(model => model.Asset.educationEmployment)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.healthSafetySecurity" /> @Html.DisplayNameFor(model => model.Asset.healthSafetySecurity)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asset.visualImages" /> @Html.DisplayNameFor(model => model.Asset.visualImages)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
